body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea:focus, button:focus, input:focus{
    outline: none;
}

input {
  height: 50px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

button {
  width: 30vw;
  background: #a50a0a;
  height: 40px;
  border-radius: 10px;
  color: white;
  margin: 10px;

  cursor: pointer;

  &:hover {
    background-color: #500202;
  }

  &[disabled] {
    background-color: #ab4e4e;
  }
}

