.wiki-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .wiki-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .loading-container {
    height: 150px;
  }

  iframe {
    height: 100%;
  }
}