
.title-game-name {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    color: #ffffff52;
}

.leave-game {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 10px;
    color: red;
    cursor: pointer;
}